#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 270px;
    height: 400px;
    border: 3px solid black;
    border-radius: 5%;
    padding: 0px 10px 0px 10px;
    background-color: #f0f0f0;
}

#display {
    display: flex;
    overflow: auto;
    font-size: 40px;
    color: #74b72f;
    background-color: #c5e90b;
    box-sizing: border-box;
    align-self: center;
    margin: 0px 0px 0px 0px;
    width: 220px;
    height: 70px;
    border: 2px solid black;
}

#butt-containers {
    margin-top: 25px;
}

.row {
    display: flex;
    box-sizing: border-box;
    padding: 5px 0px 5px 0px;
    justify-content: space-around;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
    border: 2px solid black;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 40px;
    background-color: lightgray;
}

.button.operator,
#operate {
    background-color: orange;
}

#operate {
    color: white;
}